*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}






.imagem{

    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center;


}


.conecta{

    font-size: medium;
}